<div class="container text-center">
    <mat-card>
        <mat-card-title class="mt-4">User Registration</mat-card-title>
        <form #registrationform="ngForm">
            
            <mat-form-field>
           <input type="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email" 
            required pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"
           #email="ngModel" [class.is-invalid]="email.invalid && email.touched"
           >
           </mat-form-field>
           <div *ngIf="email.errors && (email.invalid && email.touched)" >
           <small class="text-white" *ngIf="email.errors.required">Email é requerido</small>
           <small class="text-white" *ngIf="email.errors.pattern" >Email é inválido</small>
           </div>
           <br>
           <mat-form-field>
           <input type="text" matInput placeholder="Username" [(ngModel)]="user.username" name="username" 
           required #username="ngModel" [class.is-invalid]="username.invalid && username.touched"
           >
           </mat-form-field>
             <br>
            <small class="text-white" [class.d-none]="username.valid || username.untouched">Username é requerido</small>
             <br>
            <mat-form-field>
            <input type="password" matInput placeholder="Senha" [(ngModel)]="user.senha" name="senha"
            required required #senha="ngModel" [class.is-invalid]="senha.invalid && senha.touched">
            </mat-form-field>
            <br>
           <small class="text-white" [class.d-none]="senha.valid || senha.untouched">Senha é requerida</small>
            <br>
        </form>

        <button mat-raised-button class="btn2" (click)="registro()">SAVE</button>
        <br><br>
        <button class="btn btn3 text-white" mat-raised-button (click)="cancel()">Existing User? Login!
        </button>
    </mat-card>
</div>
